<%= link_to("<< Back to Museum List", {:action => 'index'}, :class => 'back-link') %>

<div class="museums new">
  <h1>Create Museum</h1>

  <%= form_for(:museum, :url => {:action => 'create'}) do |f| %>

    <table summary="Subject form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th>Position</th>
        <td><%= f.text_field(:position) %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= submit_tag("Create Museum") %>
    </div>

  <% end %>
</div>
